$castleRed:  rgba(177, 24, 30, 1.0);
$castleGray: rgba(167, 169, 172, 1.0);
$castleTeal: rgba(0, 172, 205, 1.0);
$castleText: rgba(109, 110, 113, 1.0);
$white:      rgba(255, 255, 255, 1.0);

$baseColor: $castleGray;
$highlight: $castleRed;
$linkColor: $white;

$totalWidth: 960px;
$menuWidth: 220px;
$titleHeight: 40px;
$contentHeight: 600px;
$contentPadding: 20px;